html, body {
  height: 100%; }

.panel {
  margin-bottom: 0px; }

.hbox {
  display: table;
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: #d5d5d5;
  table-layout: fixed;
  width: 100%;
  height: 100%; }
  .hbox aside, .hbox section {
    display: table-cell; }

#side-nav {
  background-color: blue;
  width: 100px; }
  #side-nav header {
    width: 50px;
    height: 50px; }
    #side-nav header img {
      width: 50%; }

#content-wrapper {
  height: 100%;
  overflow-y: auto; }

#footer {
  background-color: #e3e3e3; }
